<h1>下書き一覧</h1>
<% @post_images.each do |post_image| %>
  <%= post_image.title %>
  <%= link_to post_image_path(post_image) do %>
    <% if post_image.image.attached? %>
      <%= image_tag post_image.image, :size => '200x200' %>
    <% end %>
  <% end %>
<% end %>