<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about"><i class="icon"></i>Edit</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mx-auto">
        <%= form_with model: @post_image, local: true do |f| %>
          <%= render :partial => 'post', :locals => {:f => f, :edit_flag => true} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
