// Place all the styles related to the admin/post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.one-post {
  margin: auto;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}