@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.top {
  background-color: #e4c9c0;
}

.margin {
  margin-top: 80px;
}

.about {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  display: inline;
  background: linear-gradient(transparent 40%, #a68b62 40%);
}

.about-text {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  margin-top: 50px;
}

.subtitle {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  display: inline;
  background: linear-gradient(transparent 40%, #a68b62 40%);
}

.header {
  justify-content: center;
  display: flex;
}

.logo_img {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sign-in {
background-image: url('../images/nikukyu.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 80vh;
background-color: rgba(255,255,255,0.5);
// background-blend-mode:lighten;
}

.card-header h3{
color: black;
font-family: 'Montserrat Alternates', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(228,201,192,0.6) !important;
}

.remember{
color: white;
font-family: 'Montserrat Alternates', sans-serif;
}

.links{
color: black;
font-family: 'Zen Maru Gothic', sans-serif;
}

.signup-links, .signin-links {
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

.sign-up {
background-image: url('../images/signup.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 80vh;
background-color: rgba(255,255,255,0.3);
background-blend-mode:lighten;
}

.card2{
height: 540px;
margin-top: auto;
margin-bottom: auto;
width: 480px;
background-color: rgba(228,201,192,0.7) !important;
}

.new-user {
  margin-bottom: 0;
}

.edit-form {
  margin-bottom: 20px;
  color: white;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-decoration: none;
}

.label {
  color: white;
}

.signup-button {
  margin: auto;
}

.login-button, .signup-button, .post-button {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: #e4c9c0;
  border: 1px solid #a68b62;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.login-button:hover, .signup-button:hover, .post-button:hover {
  background-color: #a68b62;
  box-shadow: 0px 15px 20px rgba(166, 139, 98, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: #e4c9c0;
  border: 1px solid #a68b62;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #a68b62;
  box-shadow: 0px 15px 20px rgba(166, 139, 98, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.post-button {
  margin: auto;
}

.text {
  width: 300px;
  height: 40px;
}

.area {
width: 300px;
height: 200px;
}