@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

main {
background-image: url('../images/nikukyu.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 80vh;
}

.card-header h3{
color: white;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(184,156,156,0.5) !important;
}

.remember{
color: white;
}

.links{
color: white;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-decoration: none;
}
