@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.top {
  background-color: #e4c9c0;
}

.margin {
  margin-top: 80px;
}

.about {
  color: white;
  display: inline;
  background: linear-gradient(transparent 40%, #a68b62 40%);
}

.about-text {
  color: white;
  margin-top: 50px;
}

.subtitle {
  color: white;
  display: inline;
  background: linear-gradient(transparent 40%, #a68b62 40%);
}

.header {
  justify-content: center;
  display: flex;
}

.logo_img {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sign-in {
background-image: url('../images/nikukyu.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 80vh;
background-color: rgba(255,255,255,0.3);
background-blend-mode:lighten;
}

.card-header h3{
color: white;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(228,201,192,0.6) !important;
}

.remember{
color: white;
}

.links{
color: white;
}

.sign-up {
background-image: url('../images/signup.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 80vh;
background-color: rgba(255,255,255,0.3);
background-blend-mode:lighten;
}

.card2{
height: 540px;
margin-top: auto;
margin-bottom: auto;
width: 480px;
background-color: rgba(228,201,192,0.7) !important;
}

.new-user {
  margin-bottom: 0;
}

.edit-form {
  margin-bottom: 20px;
  color: white;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-decoration: none;
}
