<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">Favorites</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= render "public/post_images/image_index", post_images: @post_image_favorites %>
      <%= render "public/post_lost_cats/lost_image_index", post_lost_cats: @post_lost_cat_favorites %>
    </div>
    <div class="row text-center">
      <div class="col mx-auto margin">
        <% if @user == current_user %>
          <%= link_to "Back", user_path(id: "my_page"), class:"back-button" %>
        <% else %>
          <%= link_to "Back", user_path(@user), class:"back-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>