<h3>退会すると今までの投稿データがなくなり、<br>
コメントや投稿ができなくなります。<br>
退会しますか？
</h3>

<%= link_to "No", my_page_path, class:"btn btn-primary" %>
<%= link_to "Yes", users_withdraw_path, method: :patch, data: { confirm: "Are you sure?"}, class:"btn btn-danger" %>